#edit-view-wrapper {
    border:1px solid black;
    width: 100%; 
    height: 30em;
}

.error, .errorlist {
    font-weight: bold;
    color: #f00;
}

.secret {
    display: block;
    border: 1px solid black;
    background-color: #ffa;
    text-align: center;
    margin: 1em auto 0 auto;
    padding: 1em;
}

.secret span{
    font-size: 150%;
    font-weight: bold;
}

form table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 1em;
}

#tbl_study {
    border: 1px solid black;
    padding: 1em;
    background-color: #F6FBFF;
    display: none;
}

form table th {
    vertical-align: top;
    width: 20%;
    table-layout: fixed;
}

form input[type=submit] {
    background-color: #EDFFED;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    font-size: 150%;
    cursor: pointer;
    font-weight: bold;
    margin: 1em auto;
    width: 6em;
    height: 6em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}

form input[type=submit]:hover {
    background-color: #F6FBFF;
}

form input[type=text], textarea {
    font-size: 0.75em;
    width: 95%;
    padding: .2em;
    margin: 0;
    border: 1px solid #aaa;
}

form input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
}

#gform tr:last-of-type {
    display: none;
}

#tbl_study tr:last-of-type {
    display: table-row;
}

.helptext {
    color: #666;
    font-size: 75%;
}

#active-editing {
    text-align: center;
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
    stroke-width: 0;
    fill: #333
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

}
