#quiz-view-wrapper {
    text-align:left;
    position:absolute;
    width:46%;
    z-index:2;
    background-color: #FFFFFF;
    opacity: .8;
    height:96%;
    overflow-y: auto;
    padding: 2%;
    top: 0;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0 0 0;
    padding: 0;
}

.answer {
    position:relative;
    text-align:left;
    display:inline-block;
    padding:0px 10px 0px 10px;
    border-radius: 3px;
}

.question-content {
}

.answer-choice {
    display:block;
    margin:auto;
}

.submit-button {
    clear:both;
}

.topic-list {
    margin: 25px 5px 25px 5px;
}

.title {
    padding: 0;
    margin: 0;
    text-transform:capitalize;
}

#graph-view-wrapper {
    position:absolute;
    z-index: 1;
    width:71%;
    height:100%;
    margin-left: 50%;
    overflow-x:visible;
}

#linear-quiz {
    height:100%;
    width:96%;
    margin-top:0;
    margin-bottom:0;
    position:relative;
}

#concept-list-wrapper {
    position:static;
}

strong {
    font-weight: bold;
    font-size: larger;
}

#logout {
    font-weight:lighter;
    font-size:smaller;
    opacity:.5;
}

#check-answer {
    float:left;
    clear:left;
    color:#46a546;
    cursor:pointer;
}

#next-question-button {
    float:right;
    color:#0069D6;
    cursor:pointer;
}

.lil-icons {
    font-size:x-large;
}

#question-feedback {
    float:left;
    display:none;
}
#questions-remaining {
    opacity:.4;
    color:#46a546;
    font-size:smaller;
}
