#main{
    text-align: center;
}

.main-octal-wrap {
    margin: 5em auto 1em auto;
}

p {
    width: 75%;
}

#pid {
    font-size: 70%;
    padding: 0.2ex 1ex;
    margin-top: 0.3em;
    min-height: 2.3em;
    outline: none;
    border: 1px solid #999999;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    border-radius: 3px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}
#pid:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}
#pid:hover{
   box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}


@media only screen and (max-width: 767px){
    #pid{
        width: 95%;
        display: inline-block;
    }

}

