<script type="text/template" id="quiz-view-template">

	<div class="quiz" <% if (linear == 1)  { %> id="linear-quiz" <% } %> >
	<div id="logout">
              <% if(pid != 99999) { %>
                You are currently logged in as a participant, click <a href="/participant/logout/" target="_self">here</a> to log out
              <% } else { %>
                If you are a participant in the CS10 study, click
                <a href="/participant/logout/" target="_self">here</a> to log in
              <% } %>

    </div>
    <br />
    <h1 class="title"><strong><% if(concept) { %>
				<%= concept %>
    <%} else {%>
        Placeholder
    <% } %>
		</strong>
    </h1>
    <div id="questions-remaining"> 0 out of 3 questions completed </div>
	  <hr />
		<br />
	  <div class="question-content">

	    <%= h %>
	  </div>
		<br />
	  <div>
    	<form class="answer">
				<% if(t == 0) { %>
				  <% for (var answer in a) { %>

				  <label class ='answer-choice'><input type='radio' name='answer'  value='<%= a[answer] %>'><%= a[answer] %></label>

				  <% } %>
				<% } %>
    	</form>
    	<br />
			<br />
        <% if (t != 1) { %>
        <div id="question-feedback"></div>
        <div id="check-answer">Check   <span class="lil-icons">✓</span></div>
    	<div id="next-question-button">Next   <span class="lil-icons">↦</span></div>
        <% } %>
        <br />
        <br />
	  </div>
	</div>
	<div id='graph-wrapper'>
	</div>
</script>

