<script type="text/template" id="quiz-error-view-template">

<div class="quiz" <% if (linear == 1)  { %> id="linear-quiz" <% } %> >
    <p class="title"><%= graphName %></p>
    <div id="logout">
        <% if(studyActive == 1) {
            if(participant) { %>
                You are currently logged in as a participant, click 
                <a href="/maps/<%= gid %>/research/logout/" target="_self">here</a> to log out
            <% } else { %>
                If you are a participant in this study, click
                <a href="/maps/<%= gid %>/research/logout/" target="_self">here</a> to log in
            <% }
        } %>
    </div>
    <br />
    <h2 class="title">
        <strong>Welcome!</strong>
    </h2>
    <div>
        <p>
            Click on any of the concepts to see exercises associated with it.
            As you respond to them, the tool will try to predict your level of
            mastery of that concept, highlighting those it predicts that you
            understand with a <strong>green color</strong> and <strong>thick
            border</strong>.
        </p>
        <p>
            Since this prediction is purely for your benefit, it is fine to
            get exercises wrong when you are not sure about the answer!
            Also, feel free to continue attempting exercises in any concept,
            highlighted or not, based on your own level of comfort with
            the topic.
        </p>
        <p>Enjoy the tool, we hope you find it useful.</p>
    </div>
</div>
</script>
