<script type="text/template" id="quiz-error-view-template">
    <div id="logout">
        <% if(studyActive == 1) {
            if(participant) { %>
                You are currently logged in as a participant, click 
                <a href="/maps/<%= gid %>/research/logout/" target="_self">here</a> to log out
            <% } else { %>
                If you are a participant in the study, click
                <a href="/maps/<%= gid %>/research/logout/" target="_self">here</a> to log in
            <% }
        } %>
    </div>
    <br />
    <div>
        <p>Welcome to <strong>OCTAL</strong>, the Online Course Tool for Adaptive Learning.</p>
        <p>You will see a number of concepts and you can click on one to see an exercise associated with that concept.
            As you answer problems, this tool will try to predict your learning and it will highlight concepts with a
            <strong>green color</strong> that it estimates you understand well. This estimation of your understanding
            is a new feature so you should continue answering problems in any concept, green or not, if you like.</p>
        <p>Enjoy the tool, we hope you find it useful.</p>
    </div>
</script>
