{% extends "octal.html" %}
{% load staticfiles %}

{% block targetblank %}
<base target="_blank">
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/lib/kmapcss/graph.css" %}"/>
<link rel="stylesheet" href="{% static "css/lib/kmapcss/list.css" %}"/>
<link rel="stylesheet" href="{% static "css/quiz.css" %}" />
{% endblock %}

{% block main %}

<div id="main-display-view">
  <div id="quiz-view-wrapper">
    Loading, please wait.
  </div>
  <div id="graph-view-wrapper">
  </div>
</div>
{% include "quiz-view.html" %}
{% include "quiz-error-view.html" %}

{% endblock %}

  {% block jscript %}
    <script>
      window.oGlobals = {};
      oGlobals.auxData = {{ full_graph_skeleton|safe }};
      oGlobals.auxModel = null; // init in main js app
      oGlobals.linear = {{ linear }};
      oGlobals.graphName = "{{ graph_name }}";
      oGlobals.participant = {{ participant }};
      oGlobals.studyActive = {{ study_active }};
      oGlobals.csrftoken = '{{ csrf_token }}';
    </script>
  {% if 1 %}
  <script data-main="{% static "javascript/main.js" %}" type="text/javascript" src="{% static "javascript/lib/require-min.js" %}"></script>
  {% else %}
  <script  src="{% static "javascript/lib/require-min.js" %}"></script>
  <script src="{% static "javascript/main-built.js" %}"></script>
  {% endif %}
  {% endblock %}
