{% extends "octal.html" %}
{% load staticfiles %}

{% block title %}: create new map{% endblock %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static "css/lib/select2.css" %}" />
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript" src="{% static "javascript/lib/select2.min.js" %}"></script>
<script type="text/javascript">
// <![CDATA[
window.onload = (function(){
  // move study table
  $('<tr id="row_study"><td colspan="2"></td></tr>').insertBefore( $('table#gform tr:eq(4)') );
  $('#tbl_study').appendTo( $('#row_study td') );

  $('#add_node').click(function() {
    var total_nodes = $('#id_{{ forms.nodes.prefix }}-TOTAL_FORMS');
    var form_idx = total_nodes.val();
    $('#tbl_nodeset tbody').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    total_nodes.val(parseInt(form_idx) + 1);
  });

  // show or hide tables based on checkbox
  set = [{
    chk:$('#id_{{ forms.graph.prefix }}-study_active'),
    toggle: function(box) {
      return function() { $('#tbl_study').toggle(box.prop("checked")); };
    }
  },{
    chk:$('#id_{{ forms.graph.prefix }}-json_input'),
    toggle: function(box) {
      return function() {
        var c = box.prop("checked");
        $('#tbl_nodeset').toggle(!c);
        $('table#gform tr:last').toggle(c);
      };
    }
  }];
  for (var i=0, j=set.length; i<j; i++) {
    t = set[i].toggle(set[i].chk);
    set[i].chk.click(t); 
    t();
  }

  // make multiple select boxes appear in tag style
  $("select[multiple]").select2({ width:"resolve" });

{% if not gid %}
  // warn user to record secret before continuing
  warn = true;
  $('form').submit(function(event) {
    if (warn) {
      $('form input[type=submit]').val("OK, got it!");
      $('#warn').show();
      warn = false;
      return false;
    }
    return true;
  });
{% endif %}
});

// ]]>
</script>
{% endblock %}
 
{% block main %}

<div class="main-octal-wrap">

<div id="octal-logo">
    <img width="128" height="128" alt="OCTAL logo" src="{% static "images/octal-logo.png" %}" />
</div>

<h1>OCTAL</h1>

<h2>{% if not gid %}Create a new{% else %}Edit a{% endif %} concept map</h2>
<p>Please fill out the below information to 
{% if not gid %}create a new{% else %}edit a{% endif %} map.</p>

{% if not forms.graph %}
    <form action="{% url 'maps:edit' gid=gid %}" method="post" 
    autocomplete="off" autocapitalize="off" autocorrect="off">
    {% csrf_token %}
    <div class="secret">
        <p>Please enter this map's secret to continue.</p>
        {{ forms.key.as_p }}
    </div>
    {{ forms.key.edited }}

    <input type="submit" value="Go" />
    </form>
{% else %}
    {% if gid %}
        <form action="{% url 'maps:edit' gid=gid %}" method="post">
        {{ forms.key.as_p }}
    {% else %}
        <form action="{% url 'maps:new' %}" method="post">
    {% endif %}        
    {% csrf_token %}
    <table id="gform">
        {{ forms.graph.as_table }}
    </table>

    <div id="tbl_study">
        <h3>Research study options</h3>
        <table>
            {{ forms.study.as_table }}
        </table>
    </div>

    <div id="tbl_nodeset">
        <h3>Graph structure definition</h3>
        {{ forms.nodes.non_form_errors.as_ul }}
        {{ forms.nodes.management_form }}
        <table>
        {% for form in forms.nodes %}
            {% if forloop.first %}
                <thead><tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                {% endfor %}
                </tr></thead>
              {% endif %}
              <tr>
              {% for field in form.visible_fields %}
                <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                  {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                  {% endfor %}
                {% endif %}
                  {{ field.errors.as_ul }}
                  {{ field }}
                </td>
              {% endfor %}
              </tr>
        {% endfor %}
        </table>
        <input type="button" value="Add Another Concept" id="add_node">
        <div id="empty_form" style="display:none">
                {{ forms.nodes.empty_form.as_table }}
        </div>    
    </div>


    
    {% if not gid %}
    <div class="secret">
    <p>Please remember the following secret,
    it will allow you to edit your map in the future:</p>
    <p><span>{{ forms.graph.secret.value }}</span></p>
    </div>

    <p class="error" style="display:none;text-align:center" id="warn">Be sure
    you have recorded the above secret, or you will be
    unable to edit your map!</p>
    {% endif %}

    <input type="submit" class="submit-button" value="{% if gid %}Save{% else %}Create{% endif %}" />
    </form>
    </div>

{% endif %}
{% endblock %}
