{% extends "octal.html" %}
{% load staticfiles %}

{% block title %}: create new map{% endblock %}

{% block jscript-extend %}
<script type="text/javascript">
// <![CDATA[
window.onload = (function(){
    // show or hide study table based on study active checkbox
    active = $('#id_{{ gform.prefix }}-study_active');
    toggle = function(e) { $('#tbl_study').toggle(active.prop("checked")); };
    active.click(toggle);
    toggle();
    
    // warn user to record secret before continuing
    warn = true;
    $('form').submit(function(event) {
        if (warn) {
            $('form input[type=submit]').val("OK, got it!");
            $('#warn').show();
            warn = false;
            return false;
        }
        return true;
    });
});
// ]]>
</script>

{% endblock %}
 
{% block main %}

<div class="main-octal-wrap">

<div id="octal-logo">
    <img width="128" height="128" src="{% static "images/octal-logo.png" %}" />
</div>

<h1>OCTAL</h1>

<h2>Create a new Concept Map</h2>

<p>Please fill out the below information to create a new map.</p>

<form action="{% url 'maps:new' %}" method="post">
{% csrf_token %}
<table>
    {{ gform.as_table }}
</table>

<div id="tbl_study">
    <h3>Research study options</h3>
    <table>
        {{ sform.as_table }}
    </table>
</div>

<p class="secret">Please remember the following secret,
it will allow you to edit your map in the future:
<br />
<span>{{ gform.secret.value }}</span>
</p>

<p class="error" style="display:none;text-align:center" id="warn">Be sure
you have recorded the above secret, or you will be
unable to edit your map!</p>

<input type="submit" value="Create" />
</form>

</div>

{% endblock %}
