{% extends "octal.html" %}
{% load staticfiles %}

{% block title %}: create new map{% endblock %}

{% block jscript-extend %}
<script type="text/javascript">
// <![CDATA[
window.onload = (function(){
  // show or hide study table based on study active checkbox
  active = $('#id_{{ forms.graph.prefix }}-study_active');
  toggle = function(e) { $('#tbl_study').toggle(active.prop("checked")); };
  active.click(toggle);
  toggle();
{% if not gid %}
  // warn user to record secret before continuing
  warn = true;
  $('form').submit(function(event) {
    if (warn) {
      $('form input[type=submit]').val("OK, got it!");
      $('#warn').show();
      warn = false;
      return false;
    }
    return true;
  });
{% endif %}
});
// ]]>
</script>
{% endblock %}
 
{% block main %}

<div class="main-octal-wrap">

<div id="octal-logo">
    <img width="128" height="128" alt="OCTAL logo" src="{% static "images/octal-logo.png" %}" />
</div>

<h1>OCTAL</h1>

<h2>{% if not gid %}Create a new{% else %}Edit a{% endif %} concept map</h2>
<p>Please fill out the below information to 
{% if not gid %}create a new{% else %}edit a {% endif %}map.</p>

{% if not forms.graph %}
    <form action="{% url 'maps:edit' gid=gid %}" method="post">
    {% csrf_token %}
    <div class="secret">
        <p>Please enter this map's secret to continue.</p>
        {{ forms.key.as_p }}
    </div>
    {{ forms.key.edited }}

    <input type="submit" value="Go" />
    </form>
{% else %}
    {% if gid %}
        <form action="{% url 'maps:edit' gid=gid %}" method="post">
    {% else %}
        <form action="{% url 'maps:new' %}" method="post">
    {% endif %}        
    {% csrf_token %}
    <table>
        {{ forms.graph.as_table }}
    </table>

    <div id="tbl_study">
        <h3>Research study options</h3>
        <table>
            {{ forms.study.as_table }}
        </table>
    </div>

    {% if not gid %}
    <p class="secret">Please remember the following secret,
    it will allow you to edit your map in the future:
    <br />
    <span>{{ forms.graph.secret.value }}</span>
    </p>

    <p class="error" style="display:none;text-align:center" id="warn">Be sure
    you have recorded the above secret, or you will be
    unable to edit your map!</p>
    {% endif %}

    <input type="submit" value="{% if gid %}Save{% else %}Create{% endif %}" />
    </form>
    </div>

{% endif %}
{% endblock %}
