{% load staticfiles %}
{% load compress %}
{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block meta-viewport %}
    <meta name="viewport" content="initial-scale=1">
    {% endblock %}

    {% block meta-description %}
    <meta name="description" content="OCTAL: the Online Course Tool for Adaptive Learning.">
    {% endblock %}

    {% block social-media-tags %}
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="OCTAL: the Online Course Tool for Adaptive Learning." />
    <!-- Open Graph data -->
    <meta property="og:image" content="{% static "images/octal-logo.png" %}" />
    <meta property="og:description" content="OCTAL: the Online Course Tool for Adaptive Learning" />
    {% endblock %}

    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
    {% endblock %}

    {% block targetblank %}

    {% endblock %}

    {% compress css %}

    {% block css %}
    <link rel="stylesheet" href="{% static "css/lib/jquery.sidr.dark.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
    {% endblock %}

    {% block extra-css %}
    {% endblock %}

    {% endcompress %}

    {% block fonts %}

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.STATIC_PATH = "{% static "" %}";
      window.PRODUCTION = window.location.href.match('octal.danallan.net') !== null;
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% endblock %}

    {% block iedetect %}

    <script type="text/javascript">
      if(!document.createElement('canvas').getContext){
      alert("Sorry, OCTAL does not work for your browser" +
      " (IE < 10 or early mobile browsers). Have you considered Firefox/Chrome/Opera instead?");
                                                                                              }
                                                                                              </script>
    {% endblock %}

    <title> {% block title %}OCTAL{% endblock %}</title>

    {% endblock %}
  </head>

  <body>
    {% block noscript %}
    <noscript>
      <div class="noscript-alert">
        <p>
          It looks like you have javascript disabled.
        </p>
        <p>
          You must have javascript enabled on a modern browser in order to use OCTAL
        </p>
      </div>
    </noscript>
    {% endblock %}

    {% block body %}
    <div id="main">
      {% block main %}

      {% endblock %}
    </div>

    {% compress js %}
    {% block jscript %}
    {% include "load-jquery-snippet.html" %}
    <script src="{% static "javascript/lib/jquery.sidr.min.js" %}"></script>
    <script src="{% static "javascript/gen-utils.js" %}"></script>
    <script>
      if (window.PRODUCTION){
      $("body").on("mousedown", ".external-link", function(evt){
      if(window._paq){
      window._paq.push(['trackLink', evt.currentTarget.href, "link"]);
      }
      });
      $(window).on("hashchange", function() {
      if(window._paq){
      window._paq.push(['trackPageView', window.location.hash]);
      }
      });
      }
    </script>
    {% endblock %}

    {% block jscript-extend %}

    {% endblock %}

    {% endcompress %}

    {% endblock %}

    <script>
      // piwik server-side tracking
      if (window.PRODUCTION){
      var _paq = _paq || [];
      _paq.push(['trackPageView', window.location.href.split('/').pop()]);
      (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://metacademy.org/analytics/piwik//";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
      // log internal and external views (piwik won't track if the client has donottrack set)
      }
    </script>
  </body>
</html>
