{% spaceless %}
{% load staticfiles %}
{% load compress %}
{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block meta-viewport %}
    <meta name="viewport" content="initial-scale=1">
    {% endblock %}

    {% block meta-description %}
    <meta name="description" content="OCTAL: the Online Course Tool for Adaptive Learning.">
    {% endblock %}

    {% block social-media-tags %}
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="OCTAL: the Online Course Tool for Adaptive Learning." />
    <!-- Open Graph data -->
    <meta property="og:image" content="{% static "images/octal-logo.png" %}" />
    <meta property="og:description" content="OCTAL: the Online Course Tool for Adaptive Learning" />
    {% endblock %}

    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
    {% endblock %}

    {% block targetblank %}

    {% endblock %}

    {% compress css %}

    {% block css %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
    {% endblock %}

    {% block extra-css %}
    {% endblock %}

    {% endcompress %}

    {% block fonts %}

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.STATIC_PATH = "{% static "" %}";
      window.PRODUCTION = window.location.href.match('octal.danallan.net') !== null;
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% endblock %}

    {% block iedetect %}

    <script type="text/javascript">
      if(!document.createElement('canvas').getContext)
      alert("Sorry, OCTAL does not work for your browser" +
      " (IE < 10 or early mobile browsers). Have you considered Firefox/Chrome/Opera instead?");
     </script>
    {% endblock %}

    <title>OCTAL{% block title %}{% endblock %}</title>

    {% endblock %}

    {% block head-extend %}
    {% endblock %}
  </head>

  <body>
    {% block noscript %}
    <noscript>
      <div class="noscript-alert">
        <p>
          It looks like you have javascript disabled.
        </p>
        <p>
          You must have javascript enabled on a modern browser in order to use OCTAL
        </p>
      </div>
    </noscript>
    {% endblock %}

    {% block body %}
    <div id="main">
      {% block main %}

      {% endblock %}
    </div>

    {% compress js %}
        {% block jscript %}
        <script src="{% static "javascript/lib/jquery-2.1.0.min.js" %}"></script>
        {% endblock %}

        {% block jscript-extend %}{% endblock %}
    {% endcompress %}

    {% endblock %}

  </body>
</html>
{% endspaceless %}
