{% extends "octal.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/research.css" %}"/>
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript">
// <![CDATA[
window.onload = (function(){
    "use strict";
    $('#pid').focus();

    $('#pid').bind('keyup', function(event){
        if (event.which === 13 || event.keyCode === 13){
          var cval = event.currentTarget.value;
          if (cval.length > 0){
            var pid = window.encodeURI(event.currentTarget.value);
            window.location.href = "{% url 'maps:research:handlepid' gid=gid pid='' %}" + pid;
          }
        }
    });
});
// ]]>
</script>

{% endblock %}
    
{% block main %}

<div class="main-octal-wrap">
    <h1>OCTAL</h1>
    <h2>Online Course Tool for Adaptive Learning</h2>
    <p>Welcome to OCTAL. It is a tool that provides you
    with exercises in a variety of concepts for your learning. Although the
    tool is designed to work with many subjects, we have restricted the list
    to concepts between the Quest and Midterm in CS10. You may use this tool
    as much or as little as you'd like, and your answers will not impact
    your grade. We do hope you decide to use this tool to help in your
    learning.</p> 
    <p>If you are a participant in the 
    CS10 OCTAL study, please enter your Participant ID in the field below, 
    and hit return. If you are not a participant you may still continue by
    clicking the appropriate link below.</p>

{% if err == '1' %}
    <p class="error">That is not a valid participant ID. Please make sure 
    it is the 5 numeric digits we provided to you and try again.</p>
{% endif %}

    <div>
        I am a participant and my participant ID is:
        <input type="text" inputmode="latin" maxlength=32 size=16 name="pID" id="pid" />
    </div>

    <p>
    <a href="{% url 'maps:research:handlepid' gid=gid pid=sid %}">I am not a participant in the CS10 
    study.</a>
    </p>
</div>

{% endblock %}
