{% extends "octal.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/research.css" %}"/>
{% endblock %}

{% block main %}

<div class="main-octal-wrap">
    <h1>OCTAL</h1>
    <h2>Study complete</h2>
    <p>Welcome to OCTAL. It is a tool that provides you
    with exercises in a variety of concepts for your learning. Although the
    tool is designed to work with many subjects, we have restricted the list
    to concepts between the Quest and Midterm in CS10. You may use this tool
    as much or as little as you'd like, and your answers will not impact
    your grade. We do hope you decide to use this tool to help in your
    learning.</p> 
    <p class="error">Thank you for participating in the OCTAL study. The study
    has now concluded, though you should feel free to continue using the tool
    as much as you would like!</p>

    <p>
    <a href="{% url 'maps:research:handlepid' gid=gid pid=sid %}">Return to OCTAL</a>
    </p>
</div>

{% endblock %}
